services:
  toy_api:
    build: .
    container_name: toy_api_fastapi
    ports:
      - "8000:8000"
    environment:
      # Nombres de los contenedores del primer compose
      - MLFLOW_TRACKING_URL=http://mlflow_proxy:5000/api/2.0/mlflow
      - MLFLOW_SERVE_URL=http://ml_api_service:5001/invocations
    networks:
      - mlflow_network
    restart: always

networks:
  mlflow_network:
    external: true
